body {
	font: 16px 'Proxima Nova', Arial, sans-serif;
	min-width: 1170px;
}
img {
	max-width: 100%;
	height: auto;
}
.inner,
.wrapper {
	width: 1111px;
	padding: 0 30px;
	margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.btn {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 20px;
	border: none;
	margin: 0;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
	transition: linear .2s;
}
.decorative-title {
	position: relative;
	padding-bottom: 10px;
	font: 300 21px Montserrat, Arial, sans-serif;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: #828181;
}
.decorative-title--small {
	padding-bottom: 5px;
	font-size: 16px;
	letter-spacing: 2px;
}
.decorative-title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 43px;
	height: 2px;
	margin: 0 auto;
	background: #828181;
}
.decorative-title--small::after {
	width: 30px;
}
.page-header {
	padding-top: 5px;
	padding-bottom: 13px;
	text-align: center;
	color: #fff;
	background: url('../img/bg-head.jpg') no-repeat top;
	background-size: cover;
}
.page-navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 231px;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	width: 476px;
	padding: 0;
	margin: 0;
	margin-right: 47px;
	list-style: none;
}
.navigation__item {
	margin-right: 21px;
}
.navigation__item--active {
	position: relative;
}
.navigation__item--active::before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	right: 0;
	height: 5px;
	background: #54d154;
}
.navigation__link {
	font: 16px 'Proxima Nova', Arial, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
.navigation__link[href]:hover,
.navigation__link[href]:focus {
	color: #54d154;
	text-decoration: underline;
}
.navigation__item--active a {
	font-weight: 700;
}

.page-logo {
	width: 64px;
	margin-right: auto;
}
.search {
	position: relative;
	width: 178px;
}
.search::after {
	content: '';
	position: absolute;
	right: 8px;
	top: 6px;
	width: 14px;
	height: 15px;
	background: url('../img/icons/icon-search.svg') no-repeat center;
	background-size: cover;
}
.search__input {
	width: 100%;
	padding: 5px 13px;
	border: none;
	border-radius: 15px;
	background: rgba(255,255,255, .8);
}
.page-title {
	margin-bottom: 28px;
	font: 700 55px Montserrat, Arial, sans-serif;
	letter-spacing: -0.8px;
	text-align: center;
}
.page-header__btn {
	padding: 10px 25px;
	margin-bottom: 201px;
	font-size: 22px;
	text-transform: uppercase;
	color: #ffffff;
	background: #54d154;
}
.page-header__btn:hover,
.page-header__btn:focus {
	background: #FFA500;
}
.page-header__scroll {
	padding: 3px 10px;
	padding-right: 30px;
	transition: linear .3s;
}
.page-header__scroll:hover,
.page-header__scroll:focus {
	transform: scale(1.2);
}
.page-header__scroll::after {
	content: '';
	position: absolute;
	right: 15px;
	top: 8px;
	width: 7px;
	height: 10px;
	background: url('../img/icons/icon-row-to-bottom.svg') center no-repeat;
	background-size: cover;
}
.services {
	padding-top: 21px;
	padding-bottom: 74px;
}
.services__title {
	margin-bottom: 6px;
}
.services__promo {
	margin-top: 0;
	margin-bottom: 70px;
	font: 16px 'Open Sans', Arial, sans-serif;
	color: #b7b3b3;
	text-align: center;
}
.services__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}
.services__item {
	position: relative;
	width: 350px;
	padding-top: 139px;
	margin-right: 30px;
	text-align: center;
	color: #828181;
}
.services__item:nth-child(3n) {
	margin-right: 0;
}
.services__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 142px;
	height: 142px;
	margin: 0 auto;
	background: #e1f3e1;
	border-radius: 25px;
}
.services__item::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-size: cover;
}
.services__item--photo::after {
	top: 34px;
	width: 86px;
	height: 74px;
	background: url('../img/icons/icon-photocamera.svg');
}
.services__item--speed::after {
	top: 33px;
	width: 86px;
	height: 68px;
	background: url('../img/icons/icon-speed.svg');
}
.services__item--portfolio::after {
	top: 31px;
	width: 86px;
	height: 74px;
	background: url('../img/icons/icon-portpholio.svg');
}
.services__item-title {
	margin-bottom: 14px;
	font: 700 24px 'Proxima Nova', Arial, sans-serif;
	text-transform: capitalize;
}
.services__paragraph {
	padding: 0 25px;
	margin-top: 0;
	margin-bottom: 25px;
	font: 300 15px/18px Montserrat, Arial, sans-serif;
}
.services__btn {
	font: 700 16px 'Proxima Nova', Arial, sans-serif;
	color: #ffffff;
	background: #54d154;
}
.services__btn:hover,
.services__btn:focus {
	background: #FFA500;
}
.portfolio {
	padding-top: 20px;
	padding-bottom: 52px;
	text-align: center;
	background: #54d154;
}
.portfolio__inner {
	width: 920px;
}
.portfolio__title {
	margin-bottom: 6px;
	color: #207b20;
}
.portfolio__title::after {
	background: #207b20;
}
.portfolio__promo {
	margin-top: 0;
	margin-bottom: 59px;
	font: 16px "Open Sans", Arial, sans-serif;
	color: #2b9b2b;
}
.portfolio__navigation {
	display: flex;
	width: 293px;
	padding: 0;
	border: 1px solid #2b9b2b;
	margin: 0 auto;
	margin-bottom: 58px;
	border-radius: 15px;
	list-style: none;
}
.portfolio__navigation a {
	display: block;
	padding: 5px 20px;
	font: 16px 'Proxima Nova', Arial, sans-serif;
	text-decoration: none;
	color: #2b9b2b;
	background: #ffffff;
	transition: linear .3s;
}
.portfolio__navigation a[href]:hover,
.portfolio__navigation a[href]:focus {
	background: rgba(123, 50, 24, .5);
	color: #ffffff;
}
.portfolio__navigation li:first-child a {
	border-radius: 15px 0 0 15px;
}
.portfolio__navigation li:last-child a {
	border-radius: 0 15px 15px 0;
}
.portfolio__navigation li:nth-child(2) a {
	border-left: 1px solid #2b9b2b;
	border-right: 1px solid #2b9b2b;
}
.portfolio__navigation .active {
	color: #ffffff;
	background: #2b9b2b;
}
.portfolio__examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 28px;
	list-style: none;
}
.portfolio__examples li {
	width: 160px;
	height: 160px;
	margin-bottom: 29px;
}
.portfolio__examples img {
	width: 160px;
	height: 160px;
	border-radius: 5px;
}
.portfolio__btn {
	padding: 10px 17px;
	padding-right: 40px;
	font: 18px "Proxima Nova", Arial, sans-serif;
	color: #fff;
	background: #2b9b2b;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
	background: #FFA500;
}
.portfolio__btn::after {
	content: '';
	position: absolute;
	right: 18px;
	top: 15px;
	width: 14px;
	height: 10px;
	background: url('../img/icons/icon-row-to-right.svg') no-repeat center;
	background-size: cover;
}
.reviews {
	padding-top: 18px;
	padding-bottom: 59px;
	text-align: center;
}
.reviews__title {
	margin-bottom: 5px;
}
.reviews__promo {
	margin-top: 0;
	margin-bottom: 67px;
	font: 16px "Open Sans", Arial, sans-serif;
	color: #b7b3b3;
}
.slider {
	position: relative;
	width: 760px;
	margin: 0 auto;
}
.slider__btn {
	position: absolute;
	top: 23px;
	width: 22px;
	height: 14px;
	border: none;
	background: url('../img/icons/icon-row-slider.svg') no-repeat center;
	background-size: cover;
	cursor: pointer;
	transition: linear .2s;
}
.slider__btn--prev {
	left: 0;
	transform: rotate(-90deg);
}
.slider__btn--prev:hover,
.slider__btn--prev:focus {
	transform: rotate(-90deg) scale(1.4);
}
.slider__btn--next {
	right: 0;
	transform: rotate(90deg);
}
.slider__btn--next:hover,
.slider__btn--next:focus {
	transform: rotate(90deg) scale(1.4);
}
.slider__container {
	width: 540px;
	margin: 0 auto;
}
.slider__author {
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border: 2px solid #e1e1e1;
	margin-right: 8px;
	border-radius: 50%;
}
.slider__author img {
	width: 30px;
	height: 32px;
}
.slider__author-container {
	margin: 0;
	text-align: left;
}
.slider__author-name {
	display: block;
	font-weight: 400;
}
.author__profession {
	font-weight: 700;
	color: #cccccc;
}
.slider__client-review {
	padding: 0 50px;
}
.clients {
	padding-top: 14px;
	padding-bottom: 61px;
	text-align: center;
	background: #f2f1f1;
}
.clients__inner {
	width: 920px;
}
.clients__title {
	margin-bottom: 8px;
}
.clients__promo {
	margin-top: 0;
	margin-bottom: 65px;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	color: #b7b3b3;
}
.clients__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	list-style: none;
}
.clients__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	margin-bottom: 40px;
}
.clients__btn {
	padding: 10px 30px;
	padding-right: 50px;
	font-size: 18px;
	color: #a59d9d;
	background: #dddcdc;
}
.clients__btn:hover,
.clients__btn:focus {
	background: #add8e6;
}
.clients__btn::after {
	content: "";
	position: absolute;
	right: 16px;
	top: 15px;
	width: 14px;
	height: 10px;
	background: url('../img/icons/icon-row-to-right--gray.svg') no-repeat center;
	background-size: cover;
}
.team {
	padding-top: 15px;
	padding-bottom: 24px;
	text-align: center;
	background: #54d154;
	box-shadow: inset 0 -92px #3eba3e;
}
.team__inner {
	width: 920px;
}
.team__title {
	margin-bottom: 5px;
	color: #207b20;
}
.team__title::after {
	background: #207b20;
}
.team__promo {
	margin-top: 0;
	margin-bottom: 50px;
	font-family: "Open Sans", Arial, sans-serif;
	color: #2b9b2b;
}
.team__list {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}
.team__item {
	width: 124px;
	text-align: center;
}
.team__user-photo-container {
	position: relative;
	width: 124px;
	height: 124px;
	margin-bottom: 95px;
	overflow: hidden;
	background: #ffffff;
	border-radius: 50%;
}
.team__user-name {
	position: relative;
	display: block;
	margin-bottom: 9px;
	font-weight: 400;
	color: #ffffff;
}
.team__user-name::before {
	content: "";
	position: absolute;
	top: -86px;
	left: 50%;
	width: 2px;
	height: 77px;
	margin-right: -1px;
	background: #207b20;
}
.social-navigation {
	display: flex;
	align-items: center;
	width: 74px;
	padding: 4px 5px;
	margin: 0 auto;
	background: #c5e9c5;
	list-style: none;
	border-radius: 15px;
}
.social-navigation__item {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}
.social-navigation__item:last-child {
	margin-right: 0;
}
.team__social {
	margin-bottom: 90px;
}
.team__btn {
	padding: 10px 24px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	background: #54d154;
	border-radius: 25px;
	box-shadow: 0 3px 6px rgba(0,0,0, .3);
}
.team__btn:hover,
.team__btn:focus {
	background: #34df32;
}
.page-footer {
	padding-top: 15px;
	color: #cccccc;
	background: #333333;
}
.page-footer h2 {
	color: #dddddd;
}
.page-footer__inner {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 27px;
}
.about {
	width: 325px;
	margin-right: 87px;
	text-align: center;
}
.about__title {
	margin-bottom: 22px;
}
.about__content {
	margin-bottom: 29px;
}
.blog {
	width: 320px;
}
.blog__title {
	margin-bottom: 18px;
}
.blog__list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.blog__item {
	display: flex;
	margin-bottom: 12px;
}
.blog__item img {
	width: 53px;
	height: 53px;
	margin-right: 7px;
}
.blog__information {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 3px;
	margin: 0;
	font: 300 16px Montserrat, Arial, sans-serif;
}
.blog__information a {
	text-decoration: none;
	color: #cccccc;
}
.blog__information a:hover,
.blog__information a:focus {
	color: #089dea;
	text-decoration: underline;
}
.blog__category {
	padding: 2px 4px;
	margin: 0;
	margin-top: 3px;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}
.blog__category--green {
	background: #54d154;
}
.blog__category--blue {
	background: #089dea;
}
.blog__category--red {
	background: #f34d04;
}
.blog__category--yellow {
	background: #ffba00;
}
.contact {
	width: 322px;
	margin-left: auto;
	text-align: center;
}
.contact__information {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 17px;
}
.contact__form {
	text-align: left;
}
.contact__input,
.contact__form textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 6px 14px;
	border: none;
	margin-bottom: 2px;
	font: inherit;
	color: #cccccc;
	background: #444444;
}
.contact__form textarea {
	height: 131px;
}
.contact__form input:first-of-type {
	border-radius: 5px 5px 0 0 ;
}
.contact__form *:last-child {
	border-radius: 0 0 5px 5px;
}
.contact__submit {
	width: 100%;
	padding: 8px 15px;
	margin-top: 0;
	font: 300 14px "Proxima Nova", Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	background: #2b9b2b;
	transform: translateY(-5px);
}
.contact__submit:hover,
.contact__submit:focus {
	background: #444444;
}
.company {
	padding-top: 9px;
	padding-bottom: 25px;
	background: #222222;
}
.page-footer .company__title {
	color: #101010;
	margin-bottom: 24px;
}
.company__title::after {
	background: #101010;
}
.company__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
.design {
	display: flex;
	justify-content: center;
	padding: 6px 0;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background: #111111;
}
.design img {
	margin: 0 3px;
}
